  <div class="aboutus" id="aboutus">
    <h2 class="title" style="opacity: 1; transition: all 0.2s ease 0.2s;">会社概要<span>COMPANY</span></h2>
    <article class="">
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>会社名</dt>
                <dd>株式会社あああああ</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>代表者</dt>
                <dd>代表取締役社長　ああああ</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>設立</dt>
                <dd>年</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>事業内容</dt>
                <dd>あああああ</dd>
            </dl>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
                <dt>住所</dt>
                <dd>
                    <p>本社<br>〒-東京都</p>
                </dd>
            </dl>
    </article>
  </div>

<hr>
