  <div class="aboutus" id="aboutus">
    <h2 class="title" style="opacity: 1; transition: all 0.2s ease 0.2s;"><span>会社概要</span></h2>
<ul>
<li>商号：株式会社エルコイン（英文社名：L Coin, Inc.）</li>
<li>所在地：東京都港区赤坂2丁目9番11号　オリックス赤坂2丁目ビル10F</li>
<li>役員：
<ul>
<li>代表取締役社長　鎌形渉</li>
<li>取締役　佐谷宣昭（パイプドＨＤ株式会社代表取締役社長）</li>
<li>取締役　堀井俊和（株式会社ジノビア代表取締役ＣＥＯ）</li>
<li>監査役　大屋重幸（パイプドＨＤ株式会社取締役）</li>
</ul>
<li>事業内容：電子地域通貨プラットフォーム・電子商品券発行システムの提供</li>
<li>設立年月日：2017年12月1日</li>
<li>事業年度：3月1日から2月末日</li>
<li>資本金：1,775万円（資本準備金1,775万円）</li>
<li>株主：
<ul>
<li>パイプドＨＤ株式会社</li>
<li>鎌形渉</li>
<li>株式会社ジノビア</li>
</ul>
<li>子会社：<a href="https://shimokitacoin.co.jp/" target="_blank">株式会社シモキタコイン</a></li>
  </div>

<hr>
