  <div class="contact" id="contact">
    <h2 class="title" style="opacity: 1; transition: all 0.2s ease 0.2s;"><span>お問合せ先</span></h2>
            <dl class="clearfix" style="opacity: 1; transition: all 0.4s ease 0.4s;">
            <ul>
                <li>TEL：03-6738-8359</li>
                <li>MAIL：info@lcoin.jp</li>
                <li>当社が関与していると思われるコンプライアンス違反に関連する通報は、パイプドHDが運営する「<a href="https://reg18.smp.ne.jp/regist/is?SMPFORM=nhth-sbnap-d3b50219acc8920224e65e1c350df348" target="_blank">内部通報窓口フォーム</a>」にて受付を行っております。</li>
            </ul>
  </div>
