<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" 
         width="{{ .Site.Params.logo.width }}" 
         height="{{ .Site.Params.logo.height }}" 
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    <li><a href="..#news/">お知らせ</a></li>
    <li><a href="..#service">サービス</a></li>
    <li><a href="..#aboutus">会社概要</a></li>
    <li><a href="..#contact">お問い合わせ</a></li>
  </ul>
</nav>
